camelcase==0.2
certifi==2020.12.5
chardet==4.0.0
decorator==4.4.2
gitdb==4.0.7
GitPython==3.1.14
humanfriendly==9.1
idna==2.10
lizard==1.17.7
networkx==2.5
progress==1.5
PyDriller==1.15.5
pymongo==3.11.3
pytz==2021.1
requests==2.25.1
smmap==4.0.0
urllib3==1.26.4
